<link rel="stylesheet" href="static/css/filemanager.css">
<script src="static/js/filemanager.js"></script>
<br />
<br />
<br />
<div id="top">
  <form action="?" method="post" id="mkdir" />
    <label for=dirname>Create New Folder</label><input id=dirname type=text name=name value="" />
    <input type="submit" value="create" />
  </form>
  <div id="file_drop_target">
    Drag Files Here To Upload
    <b>or</b>
    <input type="file" multiple />
  </div> <br />
  <div id="breadcrumb">&nbsp;</div>
</div>

<div id="upload_progress"></div>
<table id="table"><thead><tr>
  <th>Name</th>
  <th>Size</th>
  <th>Modified</th>
  <th>Actions</th>
</tr></thead><tbody id="list">

</tbody></table>
<footer>simple php filemanager by <a href="https://github.com/jcampbell1">jcampbell1</a><footer>