<div class="jumbotron">
  <h1>Cumulonimbus</h1>
  <p class="lead">A distributed file system for all of your cloud storage accounts.</p>
  <p><a class="btn btn-lg btn-success" href="/login" role="button">Sign up today!</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Unified</h4>
    <p>View all of your Dropbox and Google Drive accounts like they're one.</p>

    <h4>Automatic</h4>
    <p>We decide where to keep your files, so you don't have to worry about bookkeeping.</p>
  </div>

  <div class="col-lg-6">
    <h4>Versatile</h4>
    <p>We read your existing files into our system. You don't need to lift a pinky.</p>

    <h4>Infinite</h4>
    <p>If you run out of space, we give you more automatically.</p>
  </div>
</div>
