<div class="jumbotron">
  <h1>Cumulonimbus Pitch</h1>
  <p class="lead">Distributed file store integration layer, blah blah blah 3 line summary goes right here</p>
  <p><a class="btn btn-lg btn-success" href="/login" role="button">Sign up today!</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>reason #1 to use cumulonimbus</p>

    <h4>Subheading</h4>
    <p>reason #2 to use cumulonimbus</p>

    <h4>Subheading</h4>
    <p>reason #3 to use cumulonimbus</p>
  </div>

  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>explanation #1 of what this thing lets you do</p>

    <h4>Subheading</h4>
    <p>explanation #2 of what this thing lets you do</p>

    <h4>Subheading</h4>
    <p>explanation #3 of what this thing lets you do</p>
  </div>
</div>
