
<div class="row" style="margin-bottom:10px">
  <div class="col-md-6">
    <h4>Log In</h4>
    <hr>
    <form class="form-horizontal" role="form" action="/login" method="post">
      <div class="form-group">
        <div class="col-sm-9">
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9">
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">Log In</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6" style="border-left:1px;border-left-color:#eee;border-left-style:solid">
    <h4>Sign Up</h4>
    <hr>
    <form class="form-horizontal" role="form" action="/register" method="post">
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="password" class="form-control" name="verifyPassword" placeholder="Verify Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
